.contentContainer {
  max-width: 700px;
  margin: 0 auto;
  padding: 5rem 2rem;
}

.info {
  display: flex;
  flex-direction: row;
  margin-top: 1.625rem;

  span {
    display: flex;
    flex-direction: row;
    align-items: center;

    & + span {
      margin-left: 1.75rem;
    }

    font-size: 0.8rem;
    color: var(--gray-500);

    svg {
      margin-right: 0.625rem;
    }
  }
}

.previewButton {
  background-color: var(--gray-100);
  border-radius: 0.25rem;
  height: 3.75rem;
  width: 100%;
  margin-top: 5.5rem;
  margin-bottom: 1.625rem;

  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 1.1rem;
  font-weight: 600;
  line-height: 1.25rem;
  color: var(--gray-900);

  transition: filter 0.2s;

  &:hover {
    filter: brightness(0.9);
  }
}
